h1 {
  text-align:center;
  color: blue
}
div {
  text-align:center;
}
#mainPage {
  width: 50%;
  margin: 0 auto;
}
#login {
  width: 50%;
  margin: 0 auto;
}
#newUser{
  width: 50%;
  margin: 0 auto;
}
#details{
  width: 50%;
  margin: 0 auto;
}
#checkout{
  width: 50%;
  margin: 0 auto;
}
#finishCheckOut{
  width: 50%;
  margin: 0 auto;
}
